@charset "UTF-8";

* {
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 20%;
    padding: 5px;
    border: 1px solid black;
}

.centralcolumn {
    float: left;
    width: 60%;
    padding: 5px;
    border: 1px solid black;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}