@charset "UTF-8";

* {
	box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
	float: left;
	width: 22%;
	padding: 1px;
}

.centralcolumn {
	float: left;
	width: 56%;
	padding: 1px;
}
/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

.error {
	color: red;	
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

table.center {
	margin-left:auto; 
	margin-right:auto;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}